.timer {
  background-color: rgba(61, 61, 61, 0.4);
  border-radius: 10px;
  display: flex;
  width: 700px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
  height: 70px;
  width: 70px;
  background-color: rgba(74, 74, 74, 0.733);
border-radius: 10px;
position: relative;
}
.label{
position: absolute;
top: 70px;
background-color: rgba(117, 113, 113, 0.585);
border-radius: 0px 0px 10px 10px;
width: 55px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
}
.value{
transform: scale(2);
}
